p:first-of-type {
	color: red;
}
h2:last-of-type {
	color: blue;
}
h2:nth-of-type(2) {
	color: red;
}
div {
	border: 1px dashed black;
	padding: 15px;
	margin-bottom: 10px;
}
h2:only-of-type {
	color: red;
}
li:not(:elem, :first-child, :last-child) {
	color: red;
}
