p {
	color: purple;
}
h1 {
    text-align: right;
	color: green;
}
h2 {
    text-align: center;
    width: 300px;
	color: blue;
}
h3 {
	color: red;
}
p {
	text-align: justify;
	width: 300px;
}
th {
	text-align: left;
}
td {
	text-align: center;
}

table {
	width: 500px;
}