.parent {
	display: flex;
	justify-content: center; 
	align-items: center; 
	width: 700px;
	height: 300px;
	border: 1px solid red; 
	margin: auto;
}
.child {
	width: 100px;
	height: 50px;
	border: 1px solid green;
	margin: 5px
}
.elem {
	align-self: flex-end;
}