.parent	{
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	width: 1000px;
	height: 500px;
	border: 1px solid red;
    margin:auto;
}
.child {
	width: 150px;
	height: 80px;
	border: 1px solid green;
}