#menu {
	display: flex;
}
#menu a {
	margin-right: 5px;
	padding: 10px;
	font: 15px Arial;
	text-decoration: none;
	color: #ffffff;
	border: 1px solid rgb(88, 209, 108);;
	background-color: rgb(88, 209, 108);
}
#menu a:hover, #menu a.active {
	color: rgb(255, 255, 255);
	border: 1px solid rgb(88, 209, 108);
	background-color:rgb(58, 138, 71);
}