#parent {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	border: 2px solid #696989;
	width:715px;
	
}
#parent > div {
	height: 100px;
	width: 150px;
	padding: 10px;
	border: 1px solid #696989;
	position:relative;
}