body{
    background-image:url("bg.png");
}
#el {
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(255, 0, 8);
    width: 300px;
    height: 100px;
}
#elll {
	border-width: 8px;
	border-style: dotted;
	border-color: rgb(81, 0, 255);
	width: 300px;
	height: 100px;
}
#e{
	border-width: 4px;
	border-style: dashed;
	border-color: rgb(21, 255, 0);
	width: 300px;
	height: 100px;
}
#eee {
	border-width: 7px;
	border-style: double;
	border-color: rgb(255, 174, 0);
	width: 300px;
	height: 200px;
}
#elem {
	width: 300px;
	height: 100px;
	border-left: 1px solid rgb(255, 234, 0);
	border-right: 1px solid rgb(81, 0, 255);
    border-top: 1px solid rgb(0, 255, 76);
	border-bottom: 1px solid red;
}
#radius_zal {
	border-radius: 20px;
	width: 300px;
	height: 300px;
	background-color: #00ff95;
}
#elem {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: 1px solid rgb(0, 255, 81);
}
#angle{ 
	width: 300px;
	height: 100px;
	border: 3px solid rgb(4, 255, 0);
	border-radius: 10px 40px;
}
ul {
	list-style-type: none;
}